In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("amazon_reviews.csv")

In [3]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0

In [4]:
df.shape

(4915, 12)

In [5]:
df.isnull().sum()

reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [8]:
df1=df.dropna()

In [10]:
df1.isnull().sum()

reviewerID        0
asin              0
reviewerName      0
helpful           0
reviewText        0
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [11]:
df1.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0
5,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,"[0, 0]",It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said,1367193600,2013-04-29,588,0,0

In [12]:
df1.shape

(4913, 12)

In [13]:
df2=df1.copy()

In [14]:
df2=df2.drop(['reviewerID','asin','reviewerName','helpful','overall','summary','unixReviewTime','reviewTime','helpful_yes','day_diff','total_vote'],axis='columns')

In [15]:
df2.head()

                                          reviewText
1  Purchased this for my device, it worked as adv...
2  it works as expected. I should have sprung for...
3  This think has worked out great.Had a diff. br...
4  Bought it with Retail Packaging, arrived legit...
5  It's mini storage.  It doesn't do anything els...

In [16]:
df2.reviewText=df2.reviewText.str.lower()

In [17]:
df2.head()

                                          reviewText
1  purchased this for my device, it worked as adv...
2  it works as expected. i should have sprung for...
3  this think has worked out great.had a diff. br...
4  bought it with retail packaging, arrived legit...
5  it's mini storage.  it doesn't do anything els...

In [18]:
df2['reviewText']=df2.reviewText.str.strip() # Remove leading/trailing whitespaces
df2.reviewText=df2.reviewText.str.replace(r"\s+",' ',regex=True) # Replace multiple spaces with a single space

In [19]:
df2.head()

                                          reviewText
1  purchased this for my device, it worked as adv...
2  it works as expected. i should have sprung for...
3  this think has worked out great.had a diff. br...
4  bought it with retail packaging, arrived legit...
5  it's mini storage. it doesn't do anything else...

# Text Pre Processing Advanced

In [22]:
df3=df2.copy()

In [20]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [21]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [23]:
#r'[^a-z\s]': Removes any character that is not a lowercase letter (a-z) or a space (\s)
df3.reviewText=df3.reviewText.apply(lambda x: re.sub(r'[^a-z\s]','',x.lower())) #before applying the function it make all review to lower case

In [24]:
#df3.reviewText=df3.reviewText.apply(lambda x: word_tokenize(x))
df3['tokens'] = df3['reviewText'].apply(lambda x: word_tokenize(x))

In [25]:
df3.head()

,reviewText,tokens
1,purchased this for my device it worked as adve...,"[purchased, this, for, my, device, it, worked,..."
2,it works as expected i should have sprung for ...,"[it, works, as, expected, i, should, have, spr..."
3,this think has worked out greathad a diff bran...,"[this, think, has, worked, out, greathad, a, d..."
4,bought it with retail packaging arrived legit ...,"[bought, it, with, retail, packaging, arrived,..."
5,its mini storage it doesnt do anything else an...,"[its, mini, storage, it, doesnt, do, anything,..."

In [26]:
#Remove stopwords
stop_words=set(stopwords.words('english'))
df3.tokens=df3.tokens.apply(lambda x:[word for word in x if word.lower() not in stop_words])

In [27]:
df3.head()

,reviewText,tokens
1,purchased this for my device it worked as adve...,"[purchased, device, worked, advertised, never,..."
2,it works as expected i should have sprung for ...,"[works, expected, sprung, higher, capacity, th..."
3,this think has worked out greathad a diff bran...,"[think, worked, greathad, diff, bran, gb, card..."
4,bought it with retail packaging arrived legit ...,"[bought, retail, packaging, arrived, legit, or..."
5,its mini storage it doesnt do anything else an...,"[mini, storage, doesnt, anything, else, suppos..."

In [28]:
df3['cleaned_text']=df3.tokens.apply(lambda x: ' '.join(x))

In [29]:
df3.head()

,reviewText,tokens,cleaned_text
1,purchased this for my device it worked as adve...,"[purchased, device, worked, advertised, never,...",purchased device worked advertised never much ...
2,it works as expected i should have sprung for ...,"[works, expected, sprung, higher, capacity, th...",works expected sprung higher capacity think ma...
3,this think has worked out greathad a diff bran...,"[think, worked, greathad, diff, bran, gb, card...",think worked greathad diff bran gb card went s...
4,bought it with retail packaging arrived legit ...,"[bought, retail, packaging, arrived, legit, or...",bought retail packaging arrived legit orange e...
5,its mini storage it doesnt do anything else an...,"[mini, storage, doesnt, anything, else, suppos...",mini storage doesnt anything else supposed pur...

In [30]:
df4=df3.copy()

In [31]:
df4.head()

,reviewText,tokens,cleaned_text
1,purchased this for my device it worked as adve...,"[purchased, device, worked, advertised, never,...",purchased device worked advertised never much ...
2,it works as expected i should have sprung for ...,"[works, expected, sprung, higher, capacity, th...",works expected sprung higher capacity think ma...
3,this think has worked out greathad a diff bran...,"[think, worked, greathad, diff, bran, gb, card...",think worked greathad diff bran gb card went s...
4,bought it with retail packaging arrived legit ...,"[bought, retail, packaging, arrived, legit, or...",bought retail packaging arrived legit orange e...
5,its mini storage it doesnt do anything else an...,"[mini, storage, doesnt, anything, else, suppos...",mini storage doesnt anything else supposed pur...

In [32]:
df4=df4.drop(['reviewText','tokens'],axis='columns')

In [33]:
df4.head()

                                        cleaned_text
1  purchased device worked advertised never much ...
2  works expected sprung higher capacity think ma...
3  think worked greathad diff bran gb card went s...
4  bought retail packaging arrived legit orange e...
5  mini storage doesnt anything else supposed pur...

# Now going to label the cleaned text as Positive or Negative Using VADER

In [36]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [37]:
#initialyze vaderSentiment Analyzer
analyzer=SentimentIntensityAnalyzer()

In [38]:
analyzer.polarity_scores("I love you")

{'neg': 0.0, 'neu': 0.323, 'pos': 0.677, 'compound': 0.6369}

In [39]:
analyzer.polarity_scores("The product is not good")

{'neg': 0.376, 'neu': 0.624, 'pos': 0.0, 'compound': -0.3412}

In [40]:
df5=df4.copy()

In [41]:
df5.head()

                                        cleaned_text
1  purchased device worked advertised never much ...
2  works expected sprung higher capacity think ma...
3  think worked greathad diff bran gb card went s...
4  bought retail packaging arrived legit orange e...
5  mini storage doesnt anything else supposed pur...

In [42]:
df5['polarity_value']=df5.cleaned_text.apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [43]:
df5.head()

                                        cleaned_text  polarity_value
1  purchased device worked advertised never much ...          0.0000
2  works expected sprung higher capacity think ma...          0.4019
3  think worked greathad diff bran gb card went s...          0.6486
4  bought retail packaging arrived legit orange e...          0.8591
5  mini storage doesnt anything else supposed pur...          0.0000

In [44]:
df5['sentiment_label']=df5.cleaned_text.apply(lambda x: 'pos' if analyzer.polarity_scores(x)["compound"]>0 else 'neg')

In [45]:
df5.head()

,cleaned_text,polarity_value,sentiment_label
1,purchased device worked advertised never much ...,0.0000,neg
2,works expected sprung higher capacity think ma...,0.4019,pos
3,think worked greathad diff bran gb card went s...,0.6486,pos
4,bought retail packaging arrived legit orange e...,0.8591,pos
5,mini storage doesnt anything else supposed pur...,0.0000,neg

In [46]:
df5.sentiment_label.value_counts()

sentiment_label
pos    3937
neg     976
Name: count, dtype: int64

In [47]:
df5.sentiment_label.unique()

array(['neg', 'pos'], dtype=object)

In [48]:
df5.shape

(4913, 3)

In [49]:
df5.head()

,cleaned_text,polarity_value,sentiment_label
1,purchased device worked advertised never much ...,0.0000,neg
2,works expected sprung higher capacity think ma...,0.4019,pos
3,think worked greathad diff bran gb card went s...,0.6486,pos
4,bought retail packaging arrived legit orange e...,0.8591,pos
5,mini storage doesnt anything else supposed pur...,0.0000,neg

In [51]:
label_mapping={'pos':1,'neg':0}
df5.sentiment_label=df5.sentiment_label.map(label_mapping)

In [52]:
df5.head()

,cleaned_text,polarity_value,sentiment_label
1,purchased device worked advertised never much ...,0.0000,0
2,works expected sprung higher capacity think ma...,0.4019,1
3,think worked greathad diff bran gb card went s...,0.6486,1
4,bought retail packaging arrived legit orange e...,0.8591,1
5,mini storage doesnt anything else supposed pur...,0.0000,0

In [53]:
df5=df5.drop(['polarity_value'],axis='columns')

In [54]:
df5.head()

                                        cleaned_text  sentiment_label
1  purchased device worked advertised never much ...                0
2  works expected sprung higher capacity think ma...                1
3  think worked greathad diff bran gb card went s...                1
4  bought retail packaging arrived legit orange e...                1
5  mini storage doesnt anything else supposed pur...                0

In [55]:
df6=df5.copy()

In [56]:
df6.head()

                                        cleaned_text  sentiment_label
1  purchased device worked advertised never much ...                0
2  works expected sprung higher capacity think ma...                1
3  think worked greathad diff bran gb card went s...                1
4  bought retail packaging arrived legit orange e...                1
5  mini storage doesnt anything else supposed pur...                0

Export the cleaned csv file

In [58]:
df6.to_csv('final_cleaned_dataset.csv')

In [57]:
df6.to_csv('cleaned_bert_dataset.csv')