In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("amazon_reviews.csv")

In [3]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0

In [6]:
df.shape

(4915, 12)

In [4]:
df.isnull().sum()

reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [7]:
df1=df.dropna()

In [8]:
df1.isnull().sum()

reviewerID        0
asin              0
reviewerName      0
helpful           0
reviewText        0
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [9]:
df1.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0
5,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,"[0, 0]",It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said,1367193600,2013-04-29,588,0,0

We just need reviewText maybe reviewerID

In [14]:
df2=df1.copy()

In [15]:
df2=df2.drop(['reviewerID','reviewerName','helpful','unixReviewTime','reviewTime','helpful_yes','day_diff','total_vote'],axis='columns')

In [16]:
df2.head()

,asin,reviewText,overall,summary
1,B007WTAJTO,"Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!
2,B007WTAJTO,it works as expected. I should have sprung for...,4.0,nothing to really say....
3,B007WTAJTO,This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE
4,B007WTAJTO,"Bought it with Retail Packaging, arrived legit...",5.0,best deal around
5,B007WTAJTO,It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said

Remove extra whitespaces in the 'reviewText' column

In [17]:
df2['reviewText']=df2.reviewText.str.strip() # Remove leading/trailing whitespaces
df2.reviewText=df2.reviewText.str.replace(r"\s+",' ',regex=True) # Replace multiple spaces with a single space

In [18]:
df2.head()

,asin,reviewText,overall,summary
1,B007WTAJTO,"Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!
2,B007WTAJTO,it works as expected. I should have sprung for...,4.0,nothing to really say....
3,B007WTAJTO,This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE
4,B007WTAJTO,"Bought it with Retail Packaging, arrived legit...",5.0,best deal around
5,B007WTAJTO,It's mini storage. It doesn't do anything else...,5.0,Not a lot to really be said

In [21]:
df2.overall.describe()

count    4913.000000
mean        4.587625
std         0.996995
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [22]:
df2.overall.value_counts()

overall
5.0    3921
4.0     526
1.0     244
3.0     142
2.0      80
Name: count, dtype: int64

In [23]:
df2.overall.unique()

array([5., 4., 3., 1., 2.])

In [ ]:
# we can do the sentiment analysis in 2 ways.
# 1) from overall: 1(very bad),2(bad),3(Nuetral),4(good),5(very good) then create a columns on these 5. then create dummies and asign 0,1. then use a ML model
# 2) from reviewText: use HuggingFace the create a new column o