In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("amazon_reviews.csv")

In [3]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0

In [6]:
df.shape

(4915, 12)

In [4]:
df.isnull().sum()

reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [7]:
df1=df.dropna()

In [8]:
df1.isnull().sum()

reviewerID        0
asin              0
reviewerName      0
helpful           0
reviewText        0
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [9]:
df1.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0
5,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,"[0, 0]",It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said,1367193600,2013-04-29,588,0,0

We just need reviewText maybe reviewerID

In [14]:
df2=df1.copy()

In [15]:
df2=df2.drop(['reviewerID','reviewerName','helpful','unixReviewTime','reviewTime','helpful_yes','day_diff','total_vote'],axis='columns')

In [16]:
df2.head()

,asin,reviewText,overall,summary
1,B007WTAJTO,"Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!
2,B007WTAJTO,it works as expected. I should have sprung for...,4.0,nothing to really say....
3,B007WTAJTO,This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE
4,B007WTAJTO,"Bought it with Retail Packaging, arrived legit...",5.0,best deal around
5,B007WTAJTO,It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said

Remove extra whitespaces in the 'reviewText' column

In [17]:
df2['reviewText']=df2.reviewText.str.strip() # Remove leading/trailing whitespaces
df2.reviewText=df2.reviewText.str.replace(r"\s+",' ',regex=True) # Replace multiple spaces with a single space

In [18]:
df2.head()

,asin,reviewText,overall,summary
1,B007WTAJTO,"Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!
2,B007WTAJTO,it works as expected. I should have sprung for...,4.0,nothing to really say....
3,B007WTAJTO,This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE
4,B007WTAJTO,"Bought it with Retail Packaging, arrived legit...",5.0,best deal around
5,B007WTAJTO,It's mini storage. It doesn't do anything else...,5.0,Not a lot to really be said

In [21]:
df2.overall.describe()

count    4913.000000
mean        4.587625
std         0.996995
min         1.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: overall, dtype: float64

In [22]:
df2.overall.value_counts()

overall
5.0    3921
4.0     526
1.0     244
3.0     142
2.0      80
Name: count, dtype: int64

In [23]:
df2.overall.unique()

array([5., 4., 3., 1., 2.])

In [25]:
df2.reviewText=df2.reviewText.str.lower()

In [26]:
df2.summary=df2.summary.str.lower()

In [27]:
df2.head()

,asin,reviewText,overall,summary
1,B007WTAJTO,"purchased this for my device, it worked as adv...",5.0,moar space!!!
2,B007WTAJTO,it works as expected. i should have sprung for...,4.0,nothing to really say....
3,B007WTAJTO,this think has worked out great.had a diff. br...,5.0,great buy at this price!!! *** update
4,B007WTAJTO,"bought it with retail packaging, arrived legit...",5.0,best deal around
5,B007WTAJTO,it's mini storage. it doesn't do anything else...,5.0,not a lot to really be said

In [28]:
df2.summary=df2.summary.str.strip()
df2.summary=df2.summary.str.replace(r'\s+',' ',regex=True)

In [29]:
# Remove asin also. no use
df2=df2.drop(['asin'],axis='columns')

In [30]:
df2.head()

,reviewText,overall,summary
1,"purchased this for my device, it worked as adv...",5.0,moar space!!!
2,it works as expected. i should have sprung for...,4.0,nothing to really say....
3,this think has worked out great.had a diff. br...,5.0,great buy at this price!!! *** update
4,"bought it with retail packaging, arrived legit...",5.0,best deal around
5,it's mini storage. it doesn't do anything else...,5.0,not a lot to really be said

# Text Pre Processing Advanced

In [31]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [33]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [32]:
df3=df2.copy()

In [36]:
#r'[^a-z\s]': Removes any character that is not a lowercase letter (a-z) or a space (\s)
df3.reviewText=df3.reviewText.apply(lambda x: re.sub(r'[^a-z\s]','',x.lower())) #before applying the function it make all review to lower case

In [39]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [41]:
import nltk
nltk.data.find('tokenizers/punkt')

FileSystemPathPointer('C:\\Users\\saifu\\AppData\\Roaming\\nltk_data\\tokenizers\\punkt')

In [42]:
import nltk
nltk.download('punkt', force=True)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [44]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\saifu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [45]:
#df3.reviewText=df3.reviewText.apply(lambda x: word_tokenize(x))
df3['tokens'] = df3['reviewText'].apply(lambda x: word_tokenize(x))

In [46]:
df3.head()

,reviewText,overall,summary,tokens
1,purchased this for my device it worked as adve...,5.0,moar space!!!,"[purchased, this, for, my, device, it, worked,..."
2,it works as expected i should have sprung for ...,4.0,nothing to really say....,"[it, works, as, expected, i, should, have, spr..."
3,this think has worked out greathad a diff bran...,5.0,great buy at this price!!! *** update,"[this, think, has, worked, out, greathad, a, d..."
4,bought it with retail packaging arrived legit ...,5.0,best deal around,"[bought, it, with, retail, packaging, arrived,..."
5,its mini storage it doesnt do anything else an...,5.0,not a lot to really be said,"[its, mini, storage, it, doesnt, do, anything,..."

In [47]:
#Remove stopwords
stop_words=set(stopwords.words('english'))
df3.tokens=df3.tokens.apply(lambda x:[word for word in x if word.lower() not in stop_words])

In [48]:
df3.head()

,reviewText,overall,summary,tokens
1,purchased this for my device it worked as adve...,5.0,moar space!!!,"[purchased, device, worked, advertised, never,..."
2,it works as expected i should have sprung for ...,4.0,nothing to really say....,"[works, expected, sprung, higher, capacity, th..."
3,this think has worked out greathad a diff bran...,5.0,great buy at this price!!! *** update,"[think, worked, greathad, diff, bran, gb, card..."
4,bought it with retail packaging arrived legit ...,5.0,best deal around,"[bought, retail, packaging, arrived, legit, or..."
5,its mini storage it doesnt do anything else an...,5.0,not a lot to really be said,"[mini, storage, doesnt, anything, else, suppos..."

In [53]:
df3['cleaned_text']=df3.tokens.apply(lambda x: ' '.join(x))

In [54]:
df3.head()

,reviewText,overall,summary,tokens,cleaned_text
1,purchased this for my device it worked as adve...,5.0,moar space!!!,"[purchased, device, worked, advertised, never,...",purchased device worked advertised never much ...
2,it works as expected i should have sprung for ...,4.0,nothing to really say....,"[works, expected, sprung, higher, capacity, th...",works expected sprung higher capacity think ma...
3,this think has worked out greathad a diff bran...,5.0,great buy at this price!!! *** update,"[think, worked, greathad, diff, bran, gb, card...",think worked greathad diff bran gb card went s...
4,bought it with retail packaging arrived legit ...,5.0,best deal around,"[bought, retail, packaging, arrived, legit, or...",bought retail packaging arrived legit orange e...
5,its mini storage it doesnt do anything else an...,5.0,not a lot to really be said,"[mini, storage, doesnt, anything, else, suppos...",mini storage doesnt anything else supposed pur...

In [55]:
df4=df3.copy()

In [56]:
df4.head()

,reviewText,overall,summary,tokens,cleaned_text
1,purchased this for my device it worked as adve...,5.0,moar space!!!,"[purchased, device, worked, advertised, never,...",purchased device worked advertised never much ...
2,it works as expected i should have sprung for ...,4.0,nothing to really say....,"[works, expected, sprung, higher, capacity, th...",works expected sprung higher capacity think ma...
3,this think has worked out greathad a diff bran...,5.0,great buy at this price!!! *** update,"[think, worked, greathad, diff, bran, gb, card...",think worked greathad diff bran gb card went s...
4,bought it with retail packaging arrived legit ...,5.0,best deal around,"[bought, retail, packaging, arrived, legit, or...",bought retail packaging arrived legit orange e...
5,its mini storage it doesnt do anything else an...,5.0,not a lot to really be said,"[mini, storage, doesnt, anything, else, suppos...",mini storage doesnt anything else supposed pur...

In [57]:
df4=df4.drop(['reviewText','tokens','summary','overall'],axis='columns')

In [58]:
df4.head()

                                        cleaned_text
1  purchased device worked advertised never much ...
2  works expected sprung higher capacity think ma...
3  think worked greathad diff bran gb card went s...
4  bought retail packaging arrived legit orange e...
5  mini storage doesnt anything else supposed pur...

# we can do the sentiment analysis in 2 ways.
# 1) from overall: 1(very bad),2(bad),3(Nuetral),4(good),5(very good) then create a columns on these 5. then create dummies and asign 0,1. then use a ML model
# 2) from reviewText: use HuggingFace the create a new column of score. the use  if condition and create new column with goog or bad. then train a ML model

Select the second option.

In [93]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [94]:
#initialyze vaderSentiment Analyzer
analyzer=SentimentIntensityAnalyzer()

In [95]:
analyzer.polarity_scores("The product is not good")

{'neg': 0.376, 'neu': 0.624, 'pos': 0.0, 'compound': -0.3412}

In [96]:
analyzer.polarity_scores("I love you")

{'neg': 0.0, 'neu': 0.323, 'pos': 0.677, 'compound': 0.6369}

In [97]:
df5=df4.copy()

In [ ]:
del

In [98]:
df5.head()

                                        cleaned_text
1  purchased device worked advertised never much ...
2  works expected sprung higher capacity think ma...
3  think worked greathad diff bran gb card went s...
4  bought retail packaging arrived legit orange e...
5  mini storage doesnt anything else supposed pur...

In [99]:
df5['polarity_value']=df5.cleaned_text.apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [100]:
df5.head()

                                        cleaned_text  polarity_value
1  purchased device worked advertised never much ...          0.0000
2  works expected sprung higher capacity think ma...          0.4019
3  think worked greathad diff bran gb card went s...          0.6486
4  bought retail packaging arrived legit orange e...          0.8591
5  mini storage doesnt anything else supposed pur...          0.0000

In [101]:
df5.shape

(4913, 2)

In [102]:
df5.loc[3000:3050]

                                           cleaned_text  polarity_value
3000  plenty extra storage load lot movies high defi...          0.0000
3001  nice addition roku player tablet believe came ...          0.4215
3002  got time havent issues got samsung note far pl...          0.0000
3003  pushed card writing reading tons video anythin...          0.2023
3004  works great galaxy note didnt anything pop pho...          0.6249
3005  works perfectly couldnt ask better card price ...          0.9371
3006  great capacity never reformat blue tooth trans...          0.8481
3007  bought new galaxy iii say super fast loading i...          0.4588
3008  tried different sd cards grpro hero black edit...          0.7475
3009  liked much bought nd first put samsung galaxy ...          0.8126
3010  works intended dont notice difference memory c...          0.0000
3011  used memory cards shooting video gopro cameras...          0.0000
3012  good purchase satisfied card would definitely ...          0.8126
3013                                           problems         -0.4019
3014  needed put new tablet exactly described works ...          0.7783
3015  easy usenon stick bulit wellwould buy question...          0.4404
3016  charge retailers sd cards ridiculous always or...          0.0015
3017  great holds anticipated love granddaughter lov...          0.9186
3018  great tiny things hold much tablet smartphone ...          0.8519
3019  cant go wrong sandisk use products tablets cam...          0.4125
3020  works galaxy note phone recognizes reads gb av...          0.8658
3021  bought galaxy note add tons storage phone stor...          0.0000
3022  good price card necessary excellent quality wo...          0.8555
3023  got expand memory samsung tablet increased abi...          0.8225
3024  ive card year worked great backup storage sour...          0.7604
3025  ordered used galaxy note wifes razr months not...         -0.1779
3026  put family members android phone zero issuesex...          0.0000
3027  bought android phonetablet love gb ton storage...          0.6369
3028  purchased months ago product still working wel...          0.4700
3029  got card supplement built gb galaxy note card ...          0.7351
3030  hard say much memory card works expected since...         -0.1027
3031  bought installed droid razrm never removed die...          0.4449
3032  bought gopro couldnt record anything didnt mic...         -0.4019
3033  bought gopro black edition ive using product l...          0.0000
3034  samsung galaxy note love houses music pictures...          0.6682
3035  solid card use gopro holds data read write spe...          0.5994
3036          works movies songs saved play tablet love          0.8555
3037  look reviews see card seems failure rate incom...          0.4588
3038  games gb days card great storing high graphic ...          0.6249
3039  dont know bought im glad gb would good bought ...          0.9650
3040  bad product got blackberry z format phones sof...         -0.5382
3041  cant believe gb fits small space blows mind fi...         -0.1027
3042  product served well last two months lot storag...          0.2732
3043  bought sandisk ultra gb new samsung galaxy fas...          0.7845
3044  card extremely fast order leverage full capabi...          0.4019
3045  came easytoopen package installed right away n...          0.6249
3046  fit appears worki yet issues cardhowever using...         -0.0516
3047  super low price expanding storage bn hd nook b...          0.9136
3048  works fine recording hd video copying movies fast          0.2023
3049  sandisk quality failed moving another brand iv...         -0.7783
3050  ordered card friend shipped prime week friend ...          0.7853

In [104]:
df5.sentiment_label=df5.cleaned_text.apply(lambda x: 'pos' if analyzer.polarity_scores(x)["compound"]>0.05 else 'neg' if analyzer.polarity_scores(x)["compound"]<-0.05 else 'neu')

C:\Users\saifu\AppData\Local\Temp\ipykernel_10564\145182597.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df5.sentiment_label=df5.cleaned_text.apply(lambda x: 'pos' if analyzer.polarity_scores(x)["compound"]>0.05 else 'neg' if analyzer.polarity_scores(x)["compound"]<-0.05 else 'neu')

In [105]:
df5.sentiment_label.value_counts()

cleaned_text
pos    3909
neg     632
neu     372
Name: count, dtype: int64

In [106]:
df5.sentiment_label.unique()

array(['neu', 'pos', 'neg'], dtype=object)

In [107]:
df5.shape

(4913, 2)

In [108]:
df5.head()

                                        cleaned_text  polarity_value
1  purchased device worked advertised never much ...          0.0000
2  works expected sprung higher capacity think ma...          0.4019
3  think worked greathad diff bran gb card went s...          0.6486
4  bought retail packaging arrived legit orange e...          0.8591
5  mini storage doesnt anything else supposed pur...          0.0000